/*Fonts*/
/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v11-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */

}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v11-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */

}
/*!????!!*/
:root {
    --basic-black: #000000; /*цвет шрифта*/
    --basic-white: #FFFFFF; /*цвет фона*/
    --basic-gray-dark: #333333; /*цвет заголовков*/
    
    /*карточки причин*/
    --gray-blue-color: #81B3D2; /*цвет фона*/
    
    
}

body {
    min-width: 1280;
    margin: 0;
    padding: 0;
    font-family:"PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #000000;
    background-color: white;
    text-transform: uppercase;
        
}
.slogan {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    
}
.banner {
    width: 1200px;
    height: 509px;
    background-image: url(../img/background%20photo.jpg);
    background-repeat: no-repeat;
}
/*фон причина №1 (не отображается?!?!)*/
.reason-list real-town {
    background-color: #81B3D2;
}
/*фон причина №2 (не отображается?!?!)*/
.reason-list bridge {
    background-color: #81B3D2;
}
.slogan-description {
    font-size: 14px;
    line-height: 26px;
    color: var #333333;
}
.reason-list-title {
    font-weight: bold;
    font-size: 21px;
    
}
.reason-list-text {
    font-size: 14px;
    line-height: 21px;
    
}
.feature-list-title {
    font-weight: bold;
    font-size: 21px;
}
.feature-list-text {
    font-size: 14px;
    line-height: 21px;
}
.search-header {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    color: black;
}
.search-instruction {
    font-size: 14px;
    line-height: 24px;
    color: #333333; 
}
.search-buttom {
    font-weight: bold;
    color: white;
    background-color: #766357; 
}
.modal-form {
    font-weight: bold;
}
.modal-buttom {
    font-weight: bold;
    color: white;
    background-color: #81B3D2;
}
.hashtag-item {
    font-weight: bold;
}
.academy-container-text {
    font-size: 14px;
    line-height: 26px;
}
