/*Fonts*/
/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v11-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */

}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v11-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */

}
/*!????!!*/
:root {
    --basic-black: #000000; /*цвет шрифта*/
    --basic-white: #FFFFFF; /*цвет фона*/
    --basic-gray-dark: #333333; /*цвет заголовков*/
    
    /*карточки причин*/
    --gray-blue-color: #81B3D2; /*цвет фона*/
}
.page {
    height: 100%;
}
.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    
}

body {
    
    margin: 0;
    padding: 0;
    font-family:"PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: var(--basic-black);
    background-color: white;
    text-transform: uppercase;
}
.visually-hidden {
    display: none;
}
a {
    text-decoration: none;
    color: var(--basic-black);
}
.main-header {
    width: 1200px;
    position: relative;
    margin: 0 auto;
    background-color: white;
}
.main-navigation {
    align-items: center;
    margin: 0 auto;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    line-height: 26px;
    color: black;
    
}
.main-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 138px;
    height: 70px;
    
    
}
.site-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    
}
.site-navigation .info {
    width: 20%;
    padding-top: 15px;
    padding-bottom: 16px;
    text-align: left;
}
.site-navigation .media {
    width: 20%;
    padding-top: 15px;
    padding-bottom: 16px;
    margin-right: 10%;
    text-align: left;
}
.site-navigation .place-map {
    width: 20%;
    padding-top: 15px;
    padding-bottom: 16px;
    text-align: right;
}
.site-navigation .hotels-link {
    width: 20%;
    padding-top: 15px;
    padding-bottom: 16px;
    text-align: right;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    padding: 0 10;
   
}
.slogan {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
    text-align: center;
}
.slogan-header {
    width: 1200px;
    height: 272px;
    background-image: url(../img/slogan_1.svg);
    background-position: top center;
    background-repeat: no-repeat;
    margin-top: -56px;
    padding-top: 56px;
}
.banner {
    width: 1200px;
    height: 509px;
    background-image: url(../img/background_photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    
}

.banner-picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 100%;
    align-items: center;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    height: 256px;
    background-color: #81B3D2;
}
.reasons-and-feature {
    position: relative;
    z-index: 2;
}
.reason-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
.reason-list .real-town {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.reason-list .bridge {
    display: grid;
    grid-template-columns: 1fr 1fr;
     
}
.reason-other {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 256px;
    align-content: center;
    background-color: #EEEEEE; 
    list-style: none;
}

.slogan-description {
    font-size: 14px;
    line-height: 26px;
    color: #333333; 
}
.reason-list-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 21px;
    list-style: none;
    
}
.reason-list-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 21px;
    
}
.feature-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    width: 400px;
    height: 260px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: aqua;
    
}
    
.feature-item  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-left: 70px;
    padding-right: 70p;
  
}

.feature-list-title {
    align-content: center;
    font-weight: bold;
    font-size: 21px;
    margin: 0;
    padding: 0;
   
}
.feature-list-text {
    align-content: center;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    padding: 0;
}
.search {
    display: grid;
    grid-auto-rows: 1fr min-content;
    grid-auto-columns: 1fr min-content;
    width: 568px;
    height: 291px;
    margin: 0 auto;
    padding: 0;
    
    
}
.search-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    color: black;
}
.search-instruction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #333333; 
}
.search-button {
    font-size: 21px;
    line-height: 26px;
    justify-content: center;
    font-weight: bold;
    color: white;
    background-color: #766357; 
}
.modal-form {
    font-weight: bold;
    display: grid;
    grid-auto-rows: 1fr min-content;
    grid-auto-columns: 1fr min-content;
    width: 568px;
    margin: 0 auto;
    padding: 0;
}
.modal-button {
    font-size: 21px;
    line-height: 26px;
    justify-content: center;
    font-weight: bold;
    color: white;
    background-color: #81B3D2;
}
.map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1200px;
    
    
}
.hashtag-item {
    font-weight: bold;
}
.academy-container-text {
    font-size: 14px;
    line-height: 26px;
}
.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    

}
.hashtag-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 120px;
    margin: 0;
    padding: 0;
    
}
.social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 400px;
    height: 120px;
    margin: 0;
    padding: 0;
    
}
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    
    background: var(--gray-blue-color);
    
}
.academy-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 120px;
   
}
